html {
  scroll-behavior: smooth;
}
/* navbar.css */
.nav-wrapper {
  color: #fff;
  background: rgba(236, 227, 227, 0.513);
  padding-inline: 1rem;
  position: sticky;
  backdrop-filter: blur(50px);
 
}

.nav-content {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  margin: 0 auto;
}

li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

li a:hover {
  color: #232d22;
  
  padding: 0.2rem;
}

.nav-content ul {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
  transition: all 0.3s ease;
}

.nav-content li {
  margin: 0 1.5rem;
}

/* Menu Button */
.menu-btn {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.4rem;
  background: linear-gradient(90deg,#a993fe,-0.13%,#7e61e7 99.87%);
  line-height: 0;
  cursor: pointer;
  transition: all 0.4s ease;
  display: none; /* Initially hidden */
}

.menu-btn:hover {
  color: #a993fe;
  background: #000;
  border: 1px solid #a993fe;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-content ul {
    position: absolute;
    top: 60px;
    left: -200%;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgba(93, 92, 103, 0.9);
  }

  .nav-content ul.active {
    left: 0;
  }

  .nav-content li {
    margin: 1rem 0;
  }

  .menu-btn {
    display: block; /* Show menu button on smaller screens */
  }
}
