@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("bootstrap/dist/css/bootstrap.min.css");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #fff;
  background: #000;
}
html {
  scroll-behavior: smooth;
}

@media (max-width: 575px) {
  .skills-gallery img {
    max-width: 83px;
  }
  .skills-gallery h4 {
    margin-top: auto;
  }
}
